.userdetails {
  margin: 2rem 8rem;
  box-shadow: 0px 2px 2px 2px #ccc;
  padding-top: 10px;
}
.userdetails_titile {
  display: flex;
  margin: 1rem 2rem;
  color: #3273dc;
}
.userdetails_body {
  padding: 40px;
}
.userdetails_body_elements {
  font-size: 14px;
}
.spinner {
  display: flex;
  justify-content: center;
}
.userdetails_body hr {
  margin: 15px 0;
}

.error_page {
  height: 100vh;
  font-size: 40px;
  font-weight: bold;
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
