.table tr th:nth-child(1),
.table tr th:nth-child(2) {
  width: 15%;
}

.table tr th:nth-child(3) {
  width: 10%;
}
.table tr th:nth-child(4) {
  width: 27%;
}

.table tr th:nth-child(5) {
  width: 33%;
}

.table tbody tr td a:hover {
  color: #3273dc;
}

.table {
  border: 1px solid #ccc;
  border-bottom: 2px solid #3273dc;
}

.table tr th {
  cursor: pointer;
}
